.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profileCard {
    margin-top: 20px;
    background-color: #8B4513;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
}

.profileImage {
    margin-bottom: 15px;
}

.profileInfo {
    color: black;
    text-align: center;
    font-size: 24px;
}



.editButton {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 22px;

}

.editButton:hover {
    color: #ff9900;
}